#cart_image{
    max-width:100%;
}

#cart_details_3{
  display:block;
  width:100%;
  margin:8px;
  margin-right: 70px;
  position:relative;
  z-index:300;
}

#cart_details_3 .cart_btn:hover{
 
  background-color: rgb(60,63,54);  

}

#cart_details_3 .cart_btn{
  width:100%;
  background:#B20000;
  color:#FFF;
  cursor:pointer;
  height:34px;
  border-radius:3px;
  z-index:1;
}
#cart_details_3 .cart_btn .icon{
  float:left;
  height:34px;
  width:20%;
  padding-top:4px;
  color:#FFF;
  text-align:center;
  font-size:1.5em;
  border-radius:3px;
}
#cart_details_3 .cart_btn .items{
  width:40%;
  float:left;
  text-align:center;
  height:100%;
  border-left:2px solid;
  padding-top:8px;
}

#cart_details_3 .cart_btn .price{
  width:40%;
  float:left;
  text-align:center;
  height:100%;
  border-left:2px solid;
  padding-top:8px; 
}
#cart_details_3 .details{
  margin-top:-3px;
  border:1px solid rgb(60,63,54);
  padding:5px;
  position:absolute;
  float:left;
  padding-top:10px;
  z-index:350;
  border-bottom-right-radius:2px;
  border-bottom-left-radius:2px;
  background:#FFF;
  display:none;
    
}
#cart_details_3 .details .product_row{
  width:100%;
  float:left;
  border-bottom:1px solid #B20000;

}
#cart_details_3 .details .product_row .image{
  width:15%;
  float:left;
}
#cart_details_3 .details .product_row .info{
  width:85%;
  float:left;
}
#cart_details_3 .details .product_row .info .title{
  display:block;
  font-size:12px;
  text-align:center;
  width:35%;
  float:left;
  margin-left:2%;
}
#cart_details_3 .details .product_row .info .price{
  display:block;
  text-align:center;
  font-size:14px;
  font-weight:700;
  width:40%;
  float:left;
}
#cart_details_3 .details .product_row .info .qty{
  width:15%;
  float:left;
}
#cart_details_3 .details .product_row .info .qty input{
  width:30px;
  height:30px;
  border:1px solid #ccc;
  border-radius:3px;
  padding-left:5px;
  margin:0 auto;
  display:block;
}
#cart_details_3 .details .product_row .info .remove{
  float:left;
  width:5%;
  padding-top:4px;
  text-align:center;
  font-size:15px;
  color:crimson;
  transition:all 0.5s ease;
}
.details .product_row .info .remove:hover{
  font-size:26px;
}
#cart_details_3 .details .bottom{
  width:100%;
  display:block;
  float:left;
}
#cart_details_3 .details .bottom .left{
  width:50%;
  float:left;
    padding-top:20px;
  text-align:center;
}
#cart_details_3 .details .bottom .left .update{
  width:100%;
  float:left;
}
#cart_details_3 .details .bottom .left .update i{
  transition:all 2s ease;
  margin-left:8px;
  color:#808080;
  cursor:pointer;
}
#cart_details_3 .details .bottom .left .update span{
  font-size:10px;
  margin-top:0px;
}
#cart_details_3 .details .bottom .left .update i:hover{
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#000;
}
#cart_details_3 .details .bottom .right{
  width:50%;
  float:left;
  
}
#cart_details_3 .details .bottom .sub{
  display:block;
}
#cart_details_3 .details .bottom .total{
  display:block;
  font-weight;700;
}
#cart_details_3 .details .bottom .update{
}
#cart_details_3 .details .bottom .checkout{
  display:block;
  padding-top:5px;
  padding-bottom: 5px;    
  color:#FFF;
  background:green;
  text-decoration:none;
  text-align:center;
  margin-left:0px;
  margin-top:15px;

}
#cart_details_3 .details .bottom .checkout i{
  float:right;
  margin-right:10%;
  margin-top:4px;
}

#cart_details_3 .details .bottom .checkout:hover{

    color:rgb(60,63,54);
}


#cart_details_3 .notification{ 
  margin-top:-3px;
  width:100%;
  text-align:center;
  border:1px solid #B20000;
  padding:5px;
  position:relative;
  float:left;
  padding-top:10px;
  z-index:-1;
  border-bottom-right-radius:4px;
  border-bottom-left-radius:4px;
}

@media (max-width: 767px) {
    
    #cart_details_3 .details{
        position:relative;
        width:100%;
    }
    
    #cart_details_3{
     
        width:95%;
    }

    
}
