#Turn me on, baby
RewriteEngine on

#Fix for the Xampp users
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$ /SOSRommelmarkt/index.php?controller=$1&action=$2&id=$3 [L]
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$ /SOSRommelmarkt/index.php?controller=$1&action=$2 [L]
RewriteRule ^([A-Za-z0-9-]+)/?$ /SOSRommelmarkt/index.php?controller=$1 [L]

#Full Match /A/B/C
#RewriteRule ^/SOSRommelmarkt/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([0-9]+)/?$ /SOSRommelmarkt/landing.php?controller=$1&action=$2&id=$3
#Controller + Action Match /A/B
#RewriteRule ^/SOSRommelmarkt/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$ /SOSRommelmarkt/landing.php?controller=$1&action=$2
#Controller Match/A
#RewriteRule ^/SOSRommelmarkt/([A-Za-z0-9-]+)/?$ /SOSRommelmarkt/landing.php?controller=$1
