.carousel-overlay
{
	position: relative;
	/* max-width: 500px; */
}

.carousel-caption
{
	position: absolute;
	top: 0;
	left: 70%;
	width: 30%;
	height: 100%;
	background: -webkit-linear-gradient(right, rgba(142, 199, 255, 1), rgba(142, 199, 255, 1) 50%, rgba(142, 199, 255, .8) 75%, rgba(142, 199, 255, 0));
	background: -o-linear-gradient(		right, rgba(142, 199, 255, 1), rgba(142, 199, 255, 1) 50%, rgba(142, 199, 255, .8) 75%, rgba(142, 199, 255, 0));
	background: -moz-linear-gradient(	right, rgba(142, 199, 255, 1), rgba(142, 199, 255, 1) 50%, rgba(142, 199, 255, .8) 75%, rgba(142, 199, 255, 0));
	background: linear-gradient(		right, rgba(142, 199, 255, 1), rgba(142, 199, 255, 1) 50%, rgba(142, 199, 255, .8) 75%, rgba(142, 199, 255, 0));
	color: #CBCBCB;
}

.height-fix
{
	height: 356px;
}

.full-height
{
	height: 100% !important;
}