.filter
{
   
    border: solid 0px red; 
    padding:3px;
}

.filterContainer li
{
    list-style-type: none;
}

.filterHeadings
{
    
    cursor:pointer;
    border-bottom-color: #cdcdcd;
    border-bottom: 1px solid;
    padding-bottom: 3px;
}


.filterListings, .filterListings ul
{
    padding:0;
}

.category-plus-open
{
    float: right;
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 50%;
    padding: 3px;
    font-size: 10px;
    text-align: center;
    cursor:pointer;
    margin-right: 5px;
    color:#b20000;
}

.category-plus-closed
{
    float: right;
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 50%;
    padding: 3px;
    font-size: 10px;
    text-align: center;
    cursor:pointer;
    margin-right: 5px;
    color:#cdcdcd;
}

.category-count
{
 
    float:right;
    margin-right:5px;
    
}

.price-slider
{
    margin-left:10px;
    margin-right:10px;
}

.product-filter-quality
{
    width: 20px;
    height: 20px;
    border: 1px solid #d6d3d3;
    float:right;
    margin-right:5px;
    display:block;
}

.red
{

    border-color: #B20000 transparent transparent transparent;
}

.blue
{
    border-color: #394775 transparent transparent transparent;
}

.green
{
    border-color: #3E963B transparent transparent transparent;
}

.filter-red
{

    background: #B20000
}

.filter-blue
{
    background: #394775;
}

.filter-green
{
    background: #3E963B;
}

.product
{    
    height: auto !important;
    padding:0px;

}

.product-info
{ 
    height:auto;    
}

.product-info-left
{
    text-align: left;
    float: left;
    margin: 0;
    word-wrap: break-word;
    padding-left:5px;
    padding-top: 5px;
    width:50%;
    height:auto;
    font-size: 20px;
}

.product-info-right
{
    padding-top: 10px;
    padding-right: 5px;
    text-align: right;
    float:right;
    font-size: 20px;
    width:50%;
    height:auto;
  
}


.product-name
{
    margin-left: 5px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-info-quality
{
    position: absolute;
    /*-webkit-transform:rotate(45deg);*/
    /*transform:rotate(45deg);*/
    /*width:40px;*/
    /*height:40px;*/
    /*left:20px;*/
    /*background:black;*/
    /*z-index: 20;*/
    /*width: 27px;*/
    /*height: 27px;*/
    /*border: 0px solid #d6d3d3;*/
    display:block;
    z-index:20;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 40px 0 0;


}

.view {
   
    width:100%; 
    z-index:0;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;

/*    background: #fff url(../images/bgimg.jpg) no-repeat center center*/
}

.view .mask, .view .content {
    width: 100%;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(178,0,0, 0.7); 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}

.view-first:hover img { 
	transform: scale(1.1);
} 
.view-first:hover .mask { 
	opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
    
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first a.info:hover {
    transition-delay: 0.1s;
    color: #cdcdcd;
}

.reserved {
  color:#b20000;
  font-weight: bold;
    font-size:13px;
}


@media (max-width: 1199px) {
    
    .product-info h4
    {
       font-size:16px;     
    }
    
    .filterHeadings h3
    {
        font-size: 20px;
    }
    
    .reserved
    {
        font-size: 12px;   
    }
}

@media (max-width: 991px) {
    
    .reserved
    {
        font-size: 10px; 
        word-wrap: break-word;
    }
    
    .product-info p
    {
     font-size:12px;   
    }
    
}



